<div class="faq">
	<h3>Everest DIMAND Web Application FAQ</h3>
<p>Here are some of the frequently asked questions and their answers. The Everest DIMAND application currently runs on the Android Phones and with the Web Application, we will now be extending the service to all Everest Members.
</p>
<p>
	 members will have some questions on the application and this guide will help you resolve some questions.

</p>
<br>
<p>
<b><i>Q1. Why do I have to use Everest DIMAND?</i></b>
</p>
<p>
	The Everest DIMAND app is built to track your weekly lifting performance. It is also an extension of the Everest Star programme whereby you, the dealer can earn additional benefits from the Everest Star programme.	
</p>
<br>
<p>
	<b><i>Q2. What is the process for me to start? How to I register?</i></b>
</p>
<p>
	The process is very simple and we will tell you in the following points:
	<ul>
		<li>
			First step is registration. If you are registering for the first time, go to the “Dealer Registration” section, enter the required details. Please make sure you enter on YOUR OWN Dealership Number / Everest Star number and YOUR OWN Mobile Number. These details will be used to verify and update your benefit points. 
		</li><li>you are not able to register, please get in touch with your local sales representative or send an email to <a href="mailto:info@everestdimand.com">info@everestdimand.com</a>
		</li><li>Once confirmed, you will now need to go to the “Dealer Login” section. Here enter your membership number with which you have registered.
		</li><li>Once you are logged in, enter the required information of stock and order levels for the week.
		</li><li>PLEASE NOTE: YOU ONLY NEED TO REGISTER ONCE. From the second week onwards, you can login and start entering the data.
		</li>
	</ul>
</p>
<br>
<p>
	<b><i>Q3. What information do I have to enter?</i></b>
</p>
<p>
	You need to enter the data at the beginning of every week (Monday) and follow this simple structure:
	<ol type="1">
<li>Choose the Product Type: The options will be the first shown as soon as you log-in. For each product that you select, you must enter the following details:
	<ol type="a">
		<li>Opening Stock of the week: What is the opening stock for this particular week? PLEASE MAKE SURE THIS FIGURE IS IN “NUMBERS” AND NOT IN TONNES.
		</li><li>Purchases for the week: What is the stock that you ordered for this particular week? PLEASE MAKE SURE THIS FIGURE IS IN “NUMBERS” AND NOT IN TONNES
		</li><li>Sales for the week: What is the sales that you had in the last week? PLEASE MAKE SURE THIS FIGURE IS IN “NUMBERS” AND NOT IN TONNES
		</li><li>Estimated Price (Per Running Meter): What is the estimated price of sales for this particular product? PLEASE MAKE SURE THIS FIGURE IS RUNNING METERS AND NOT PER SHEET PRICE. Also please ensure this figure is not zero. We only need your estimate.
		</li>
	</ol>
</li><li>After you have completed adding the details of the selected product, you may choose to add another product. If so, please select “Add Product” from the button options below
</li><li>In case you do not wish to add anymore products and have completed your submission for the week, please select “Submit”
</li><li>Please note: Once submitted, you will not be able to re-submit data for the week, so be very careful when submitting the data or adding a new product.
	</li>
	</ol>
	
</p>
<br>
<p>
	<b><i>Q4. What happens after I have entered the information? How will I earn the benefits?</i></b>
</p>
<p>
	Depending on your regular and accurate weekly submission of the data, Everest team will choose the highest performing members and provide them with surprise awards and Everest Star points. Already with the Everest DIMAND Android App, 30 high performing members received rewards and points in the month of December 2013.

	
</p>
<br>

The Everest DIMAND application will ensure that every member of the Everest Star programme is entitled to this chance and enable us to upload your points faster and ensure you a better and enhanced level of service from our end. The privileges associated with this data, would be:
<ul><li>
	Bonus Points on the Everest Star Program
	</li><li>Surprise Gifts
	</li><li>Special allocation of sales collaterals and materials
</li></ul>	
<p>The aim of this additional information will help us in serving you better.

<br>The Everest Team
</p> 
</div>
