/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 **/
 

 @import "body.css";
 @import "bootstrap";
 @import "header.css";
 @import "detail_transactions.css";
 @import "users.css";
 
 
 
.root-page .android-download
{
  margin:2em 0 0 2em;
  float:right;
}

.root-page .android-download .app-logo
{
  padding:0.5em;
  width: 3em;
  height:3em;
  margin:0;
  border: 1px solid black;
  box-shadow: 0 2px 1px black;
  -webkit-box-shadow: 0 2px 1px black;
  border-radius: 20px 0 0 5px;
  border-right:0;
}

.root-page .android-download .app-text
{
  margin:0;
  text-align:center;
  padding: 4px 4px 4px 0;
  border: 1px solid black;
  box-shadow: 2px 2px 2px black;
  -webkit-box-shadow: 2px 2px 2px black;
  border-left:0;
  border-radius: 0 5px 20px 0;
  background-color: #1a8bbc;
  color: #FFFFFF;
  
}

.root-page .android-download .app-text p
{
  margin:0;
  padding:0.25em;
  border-radius: 0 5px 20px 0;
}

 
 