	
	<div class="header-block navbar ">
		<div class="header-bar navbar-inner container">
			<div class="margin-block">
				<%= link_to image_tag("logo.png", :class => "header-logo pull-left"),root_url%>
				<div class="nav-collapse collapse">
					<ul class="header-nav-button-block nav pull-right">		
						<li class="pull-right"><%= link_to "Dealer Registration", new_user_path, :id =>"header-menu" %></li>
						<li class="pull-right"><%= link_to "Dealer Login", root_url, :id =>"header-menu" %></li>
						<li class="pull-right"><%= link_to "FAQs", faq_path, :id =>"header-menu" %></li>
   					</ul>
				</div><!-- /.nav-collapse -->
			</div>
		</div><!-- /navbar-inner -->
	</div><!-- /navbar -->
	



